/*Global Styles*/
body {
  background-color: black;  
}


img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#MainLogo {
   width: 100px;
}

a {
    color: #BF0449;
}

a:hover {
    color: #F2055C;
    text-decoration: none;
}

#container {
    background-color: black;
    width: 75%;
    margin: 20px auto;
}


h1, h2, h3 {
   line-height: 80px;
   text-align: center;
    color: #F2055C;
}

main img {
    display:block;
    width: 50%;
    margin: 30px auto;
    }

    /* Remaining Styles */

    nav {
        background-color: black;
        text-align: right;
        margin-left: 75px;
        line-height: 60px;
    }

 nav ul {
    list-style-type: none;
    padding: 0%;
 }   

 nav li {
    display: inline-block;

 }

 nav li a {
    color: #BF0449;
    margin-right: 80px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 50px 50px;
 }
 nav li a:hover {
    color: #F2055C;
 }
 
 header h1 {
    font-size: 75px;
    color: #F2055C;
 }

 main {
    padding: 20px;
 }

 main img {
    width: 60%;
 }

 header h5 {
    width: 20%;
 }

 #lower {
    display: flex;
 }

 .col {
    padding: 10px;
    margin: 10px;
    border: #BF0449;
    width: 33.33%;
 }

 footer {
    color: aliceblue;
    padding: 40px 0;
    text-align: center;
 }

 hr { 
    width: 75%;
 }

 .button {
    display: block;
    background-color: #BF0449;
    width: 135px;
    height: 35px;
    color: azure;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
 }

 .button:hover {
    color: #F2055C;
 }

 p {
    color: aliceblue;
    text-align: center;
 }

 #MainLogo image {
    width: 25%;
    height: 20%;
    margin-left: auto;
 }

#navbar {
   display: flex;
   margin-left: 300px;
}

ul {
   color: #BF0449;
   text-align: justify;
   ul :hover {
      color: #F2055C;
   }
   list-style: none;
}