/* Global Styles */
img {
   display: block;
   margin: 0 auto;
   width: 100%;
}

body {
   background-color: black;
}

#container {
   background-color: black;
   padding: 10px;
}

header h5 {
   width: 20%;
}

.button {
   display: block;
   background-color: #BF0449;
   width: 135px;
   height: 35px;
   color: azure;
   text-decoration: none;
   text-align: center;
   line-height: 35px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
}

.button:hover {
   color: #F2055C;
}

a {
   color: #BF0449;
}

a:hover {
   color: #F2055C;
   text-decoration: none;
}

ul {
   color: #BF0449;
   text-align: justify;
   ul :hover {
      color: #F2055C;
   }
   list-style: none;
}

/* Mobile Styles */
@media(min-width: 150px) {
nav {
   background-color: black;
   padding: 10px;
}

nav ul{
   list-style: none;
   padding: 0;
}

nav li{
   display: block;
}

nav li a{
display: block;
height: 20px;
line-height: -240px;
color: #BF0449;
background-color: black;
text-align: right;
margin: 10px 10px;
font-size: 20px;
font-weight: bold;
text-decoration: none;
}

#container {
   display: block;
   margin: 0 auto;
}

nav li a:hover{
   background-color: #F2055C;
}

main {
   border: 10px solid #8C0335;
   margin: 0 auto;
   padding: 10px;
}

#navbar {
   display: block;
   text-align: right;
   line-height: 100%;
   #MainLogo{
      margin-left: -140px auto;
      width: 70px;
      height: 10px;
   }
}

h1, h2, h3 {
   line-height: 20px;
   text-align: center;
    color: #F2055C;
    font-size: 20px;
}

header h1{
   font-size: 35px;
   color: #F2055C;
   height: 80px;
   line-height: 90%;
}

#lower {
   display: block;
   border: 10px solid #8C0335;
   margin: 0 auto;
   padding: 10px;
   .col {
   padding: 0;
   margin: 0;
   border: #BF0449;
}
}

footer {
   padding: 40px 0;
   text-align: center;
}

p {
   color: aliceblue;
   text-align: center;
}

.button {
   display: block;
   margin: 10px auto;
   text-align: center;
   background-color: #F2055C;
   width: 125px;
   height: 40px;
   line-height: 40px;
   text-decoration: none;
   border: 2px solid #8C0335;
   border-radius: 10px;
   font-weight: bold;
}

footer {
   color: aliceblue;
   padding: 40px 0;
   text-align: center;
}
}

/* Tablet Styles */

@media(min-width: 780px) 
{nav {
   background-color: black;
   padding: 10px;
}

nav ul{
   list-style: none;
   padding: 0;
}

nav li{
   display: block;
}

nav li a{
display: block;
height: 20px;
line-height: -240px;
color: #BF0449;
background-color: black;
text-align: right;
margin: 10px 10px;
font-size: 20px;
font-weight: bold;
text-decoration: none;
}

nav li a:hover{
   background-color: #F2055C;
}

main {
   border: 10px solid #8C0335;
   margin: 0 auto;
   padding: 10px;
}

#navbar {
   display: block;
   text-align: right;
   line-height: 100%;
   #MainLogo{
      margin-left: -140px auto;
      width: 70px;
      height: 10px;
   }
}

h1, h2, h3 {
   line-height: 40px;
   text-align: center;
    color: #F2055C;
    font-size: 50px:
}

header h1{
   font-size: 50px;
   color: #F2055C;
   height: 80px;
   line-height: 90%;
}

#lower {
   border: 10px solid #8C0335;
   margin: 10px;
   padding: 10px;
   display: flex;
}

.col {
   padding: 10px;
   margin: 10px;
   border: #BF0449;
   width: 33.33%;
}

footer {
   padding: 40px 0;
   text-align: center;
}

p {
   color: aliceblue;
   text-align: center;
}

.button {
   display: block;
   margin: 10px auto;
   text-align: center;
   background-color: #F2055C;
   width: 125px;
   height: 40px;
   line-height: 40px;
   text-decoration: none;
   border: 2px solid #8C0335;
   border-radius: 10px;
   font-weight: bold;
}

footer {
   color: aliceblue;
   padding: 40px 0;
   text-align: center;
}
}

/* Desktop Styles */

@media(min-width: 1024px) {
{nav
   background-color: black;
   padding: 10px;
}

nav ul{
   list-style: none;
   padding: 0;
}

nav li{
   display: block;
}

nav li a{
display: block;
height: 20px;
line-height: -240px;
color: #BF0449;
background-color: black;
text-align: right;
margin: 10px 10px;
font-size: 20px;
font-weight: bold;
text-decoration: none;
}

nav li a:hover{
   background-color: #F2055C;
}

main {
   border: 10px solid #8C0335;
   margin: 0 auto;
   padding: 10px;
}

#navbar {
   display: block;
   text-align: right;
   line-height: 100%;
   #MainLogo{
      margin-left: -140px auto;
      width: 70px;
      height: 10px;
   }
}

h1, h2, h3 {
   line-height: 45px;
   text-align: center;
    color: #F2055C;
    font-size: 40px;
}

header h1{
   font-size: 55px;
   color: #F2055C;
   height: 80px;
   line-height: 90%;
}

#lower {
   border: 10px solid #8C0335;
   margin: 10px;
   padding: 10px;
   display: flex;
}

.col {
   padding: 10px;
   margin: 10px;
   border: #BF0449;
   width: 33.33%;
}

footer {
   padding: 40px 0;
   text-align: center;
}

p {
   color: aliceblue;
   text-align: center;
}

.button {
   display: block;
   margin: 10px auto;
   text-align: center;
   background-color: #F2055C;
   width: 125px;
   height: 40px;
   line-height: 40px;
   text-decoration: none;
   border: 2px solid #8C0335;
   border-radius: 10px;
   font-weight: bold;
}

footer {
   color: aliceblue;
   padding: 40px 0;
   text-align: center;
}
}